*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}


.container {
    height: auto;
    width: 100%;
    background-color: darkgray;
}

.box-calc {
    height: 18rem;
    width: 20rem;
    background-color: blueviolet;
}

.box-weight, .box-height {
    height: 5rem;
    width: 18rem;
    margin: 10px;
    background-color: yellowgreen;
}

.btn-calcular {

}